        /* 全体のレイアウト */


        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: Arial, sans-serif;
        }

        .header {
            width: 320px;
            font-size: 42px;
            margin-bottom: 10px;
            display:grid;
            grid-template-columns: 1fr auto 20px 40px 20px 120px ;
            align-items: end;
        }

        #container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 80%;
            max-width: 400px;
            position: relative;
        }



        /* フィードバック表示用のスタイル（絶対配置で上部に固定） */
        #feedback {
            font-size: 140px;
            color: green;
            position: absolute;
            top: 150px;
            /* AnswerAreaの上に表示 */
            left: 50%;
            transform: translateX(-50%);
            z-index: 10;
            display: none;
            transition: opacity 1s ease-out;
        }

        .hidden {
            opacity: 0;
        }

        /* 問題と入力エリアを横並びに配置 */
        #problemDisplayContainer {
            height: 54px;
            margin: 10px;
            display: flex;
            align-items: center;
            gap: 10px;

            /* 問題と入力エリアの間にスペース */
        }

        #problemDisplay {
            font-size: 44px;
        }

        /* 解答入力エリアとボタンを横並びに */
        #answerArea {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        .btnArea {
            display: flex;
            gap: 10px;
            /* align-items: center; */
            margin-bottom: 10px;
        }


        /* 解答ボタンのスタイル */
        #submitAnswerButton,
        #clearButton {
            width: 155px;
            height: 40px;
            margin: 0;
            padding: 10px 10px;
            font-size: 16px;
            cursor: pointer;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 10px;
        }

        #submitAnswerButton:hover,
        #clearButton:hover {
            background-color: #45a049;
        }

        /* 数字ボタンのレイアウト */
        #numberButtons {
            display: grid;
            height: 200px;
            grid-template-columns: repeat(3, 100px);
            gap: 10px;
        }

        #numberButtons button {
            font-size: 20px;
            border-radius: 10px;
            height:40px;
        }

        button:hover {
            opacity: 0.8;
        }

        button:active {
            transform: translate(0, 2px);
            /* border-bottom: none; */
        }

        /* 0のボタンを特別に扱う */
        #numberButton0 {
            grid-column: span 3;
        }

        #answerInput {
            width: 50px;
            height: 54px;
            text-align: center;
            border: none;
        }

        .end {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -65%);
            font-size: 36px;
            font-weight: bold;
            color: green;
            white-space:nowrap;
        }

        #start {
            width: 155px;
            height: 40px;
            margin: 0;
            padding: 10px 10px;
            font-size: 16px;
            cursor: pointer;
            background-color: #cd0000;
            color: white;
            border: none;
            border-radius: 10px;
        }


        #reset {
            width: 155px;
            height: 40px;
            margin: 0;
            padding: 10px 10px;
            font-size: 16px;
            cursor: pointer;
            background-color: #fff;
            border-color: black;
            border-radius: 10px;
        }